
{
  "server": {
    "url":"http://wptestproject.test",
    "host":"wptestproject.test",
    "port":"8010"
  },
  "dir_structure": {
    "public_dir":"/public_html",
    "wp_dir":"/wp",
    "wp_content_dir":"/wp-content"
  },
  "mysql": {
    "database": "composer_wp_dev",
    "username": "root",
    "password": "password",
    "host": "localhost"
  },
  "table_prefix": "wp_",
  "wp": {
    "title": "Welcome to the Wordpress test project ",
    "description": "HelloWorld",
    "lang": "ja",
    "gmt_offset": "9",
    "rewrute_structure": "/archives/%post_id%",
    "theme": "wptestproject",
    "admin": {
      "user": "admin",
      "password": "admin",
      "email": "xesys@xearts.jp"
    }
  }
}