{
  "server": {
    "url":"http://wptestproject.test"
  },
  "mysql": {
    "database": "composer_wp_dev",
    "username": "root",
    "password": "password",
    "host": "localhost"
  },
  "table_prefix": "wp_",
  "wp": {
    "title": "Welcome to the Wordpress test project ",
    "description": "Hello World!",
    "lang": "ja",
    "theme": "wptestproject",
    "admin": {
      "user": "admin",
      "password": "admin",
      "email": "xesys@xearts.jp"
    }
  }
}